@import 'variables.scss';

footer {
  font-size: .75em;
  margin: 2.5em 0;
  text-align: center;

  a {
    color: inherit;

    &.underlined {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: .25rem;

    @include min($desktopXSmall) {
      margin: 0 auto;
      max-width: 50%;
    }
  }
}
